{% extends "base.html" %}
{% load static %}

<!-- <link rel="stylesheet" href="static/blog/css/accueilStyle.css" /> -->
<!-- <link rel="stylesheet" href="{% static 'home/css/accueilStyle.css'%}" /> -->


{% block title %}Product{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'home/companyPage.css' %}">


<div class="cardContainer">
    {% for product in all_products %}

    <div class="card">
        <div class="imgBx">
            <img src="{{ product.photo.url }}" />
        </div>
        <div class="content">
            <p>{{product.name }}</p>
            <p>{{product.description }}</p>
            <a href="{% url 'detailsProduct' product.id %}">En savoir plus</a>

        </div>
    </div>
    {% empty %}
    <p>Aucun article.</p>
    {% endfor %}
</div>

{% endblock %}