<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% comment %} <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico"> {% endcomment %}
    <script src="https://kit.fontawesome.com/c7fff52afa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/base.css" />


    <title>{% block title %}Vapthy{% endblock %}</title>

</head>

<body>
    <header>
        {% block nav %}
        <div class="header" id="myTopnav">
            <a href="{% url 'home' %}" class="logo">Vapthy</a>
            <ul>
                <!-- <li><a href="{ url 'home'%}">{{ question.question_text }}</a></li> -->
                <li><a href="{% url 'home' %}" class="m-link"><i class="fas fa-home"></i> Là on vap</a></li>
                <li><a href="{% url 'companies' %}" class="m-link"><i class="fas fa-bahai"></i> Companies</a></li>
                <li><a href="{% url 'allProducts' %}" class="m-link"><i class="far fa-newspaper"></i> Absolument tout</a></li>
                <li><a href="{% url 'post:post-list' %}" class="m-link"><i class="fas fa-comments"></i> Les Posts</a></li>
                
                <li><a href="#" class="m-link"><i class="fas fa-comments"></i> Forum</a></li>
                <li><a href="#" class="m-link"><i class="fas fa-address-book"></i> Contacts</a></li>

                <span class = "hello-msg">{{request.user}}</span>
                <li><a class = "hello-msg" href="{% url 'login' %}" class="m-link"><i class="fas fa-user"></i></a></li>
                <li><a class = "hello-msg" href="{% url 'logout' %}" class="m-link"><i class="fas fa-sign-in-alt"></i></a></li>
            </ul>
        </div>
        {% endblock %}
    </header>


    <section class="container">
        {% block content %}{% endblock %}
    </section>

    <footer>
        <span>© 2020 VAPORTISTE.INC</span><span><a href=""></a></span>


    </footer>
</body>

</html>